<body cz-shortcut-listen="true">

<div id="main_box">
	<div class="container">
		<div class="jumbotron">
			<h2>Tu comida donde sea, cuando sea!</h2>
			<div class="search-box">
				<%= form_tag search_restaurants_path, :method => 'get' do %>
					<div class="input-group">
						<%= text_field_tag :search, params[:search],  placeholder: 'Escribe aquí algo sobre la comida que quieres...', class: 'form-control' %>
						<div class="input-group-btn">
							<%= submit_tag "Buscar", :tag_list => nil, class: 'btn btn-info' %>
						</div>
					</div>
				<% end %>
				<!--<form class="navbar-form">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Escribe aquí algo sobre la comida que quieres...">
					<div class="input-group-btn">
						<button class="btn btn-info" type="submit">Buscar</button>
					</div>
				</div>
				</form>-->
			</div>
		</div>
	</div><!-- /.container -->
</div>
