<div class="container results-section">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="panel panel-default" onclick="return init_map(0);">
                        <div class="row padall">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <span></span>
                                <img src="http://fontmeme.com/images/Subway-Logo.jpg" />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <div class="clearfix">
                                    <!--<div class="pull-left">
                                        <span class="fa fa-dollar icon">499,000</span>
                                    </div>
                                    <div class="pull-right">
                                        900 SqFt | 1 Bedroom | 1 Bathroom
                                    </div>-->
                                </div>
                                <div>
                                    <h4><span class="fa fa-map-marker icon"></span>Subway</h4>
                                    Sanduches de diferentes sabores cada dia<span class="fa fa-lock icon pull-right">   Sold</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row padbig">
                <div id="map" class="map">
                </div>
            </div>
        </div>
    </div>
</div>

