<div class="container results-section">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
        	
        	<% @restaurants.each do |restaurant| %>
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
	                    <div class="panel panel-default" onclick="return initialize();">
	                        <div class="row padall">
	                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
	                                <span></span>
	                                <img src="https://scontent-a-ord.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10457778_532450300223413_3225027398883310808_n.png?oh=b1f2a7ddbe29f69a48771b7e16b05eb9&oe=54B80DB5">
	                            </div>
	                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
	                                <div class="clearfix">
	                                </div>
	                                <div class="info-title">
	                                    <h4><span class="fa fa-map-marker icon"></span><%= restaurant.name %></h4>
	                                    <%= restaurant.tag_list %><span class="fa fa-map-marker icon pull-right">   Ver en Mapa</span>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
            <% end %>
            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row padbig">
                <div id="map" class="map">
                </div>
            </div>
        </div>
    </div>
</div>