<!DOCTYPE html>
<html>
<head>
  <title>Foodini</title>
  <meta charset="UTF-8">
  <meta name="description" content="Tu comida donde sea, cuando sea">
  <meta name="author" content="Carlos Castillo Sánchez - Check my profile to contact me: http://about.me/CarlosCastilloSanchez">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
